<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- ajax import -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css파일의 경로 설정 -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- google font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Parisienne&display=swap" rel="stylesheet">

    <title>Port99</title>


</head>


<body>
<a th:href="@{/board/main}">
    <div class="title">
        <h1>Test</h1>
    </div>
</a>


<hr style="border:1px color= silver;" width="90%">
<div class="post">
    <div class="userName">
        <a>작성자 : <a th:text="${li.userName}"></a>
    </div>

    <div class="post-name">
        <a>게시글 이름 : <a><a th:text="${li.boardTitle}"></a></a>
    </div>

    <div class="post-content">
        <a>게시글 내용 :<a th:text="${li.boardContents}"></a>
    </div>
</div>
<div class="comment_form">
<form th:href="@{'/board/boardView?idx='+ ${li.id}}" method="POST" enctype="multipart/form-data">
    <div class="comment_input">
        <label for="exampleFormControlTextarea1" class="form-label">댓글을 입력해주세요</label>
        <input name="comment" type="text" class="form-control" id="exampleFormControlTextarea1">
    </div>
    <button type="submit" class="btn btn-light post-btn">댓글 작성완료</button>
</form>
<div class="commentTable">
    <table>
        <tbody>
        <tr th:each="list : ${comment}">
            <td th:text="${list.user}"></td>
            <td th:text="${list.comment}"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>


</body>

</html>