<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- ajax import -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css파일의 경로 설정 -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- google font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Parisienne&display=swap" rel="stylesheet">

    <title>Port99</title>
    <script>
        function user_check() {//user가 null이면 댓글창 클릭시 로그인 화면으로 돌아감
            $.ajax({
                type: "GET",
                url: "/board/userCheck",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    let user = response['user'];
                    if (user == null) {
                        alert("로그인 후 댓글 입력이 가능합니다.")
                        location.href = "/";
                    }
                }
            });
        }

        function commentUpdate(){
            let commet = $("#commentUp").val();
            $.ajax({
                type: "PUT",
                url: `/api/memos/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert('메시지 변경에 성공하였습니다.');
                    window.location.reload();
                }
            });

        }

        $(document).on("click", ".updateBtn", (function () {
            var thisbtn = $(this);
            var thisTr = thisbtn.parent().parent(); //updatebtn의 부모는 td 할머니는 tr이다.
            var idx = thisTr.find('td:eq(0)').text();
            
            let del = "#" + idx + "delete_comment";
            let up = "#" + idx + "update_comment";
            let comment = "#" + idx + "comment";
            let save = "#" + idx + "save_comment";
            let commentInput = "#" + idx + "commentInput";

            $(del).hide();
            $(up).hide();
            $(comment).hide();
            $(save).show();
            $(commentInput).show();
        }))

    </script>

</head>


<body>
<a th:href="@{/board/main}">
    <div class="title">
        <h1>Test</h1>
    </div>
</a>


<hr style="border:1px color= silver;" width="90%">
<div class="post">
    <div class="userName">
        <a>작성자 : <a th:text="${li.userName}"></a>
    </div>

    <div class="post-name">
        <a>게시글 이름 : <a><a th:text="${li.boardTitle}"></a></a>
    </div>

    <div class="post-content">
        <a>게시글 내용 :<a th:text="${li.boardContents}"></a>
    </div>
</div>
<div class="comment_form">
    <form th:href="@{'/board/boardView?idx='+ ${li.id}}" method="POST" enctype="multipart/form-data">
        <div class="comment_input">
            <p style="color: red" th:text="${warning}"></p>
            <label for="exampleFormControlTextarea1" class="comment-label">댓글을 입력해주세요
                <p>
                    <button type="submit" class="btn btn-light post-btn comment">댓글 작성완료</button>
                </p>
            </label>
            <input onclick="user_check()" name="comment" type="text" class="form-control"
                   id="exampleFormControlTextarea1">
        </div>
    </form>
    <div class="commentTable">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">작성자</th>
                <th scope="col">댓글 내용</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr id="commentTr" th:each="list : ${comment}">
                <td id="id" th:text="${listStat.index}" style="display: none"></td>
                <td th:id="${listStat.index} + 'commentuser'" th:text="${list.user}"></td>
                <td th:id="${listStat.index} + 'comment'" th:text="${list.comment}"></td>

                <td th:id="${listStat.index} + 'commentInput'" style="display: none"><input th:value="${list.comment}" id="commentUp" type="text"></td>

                <td th:if="${user} == ${list.user}" id="commentButton">
                    <button th:id="${listStat.index} + 'update_comment'" class="updateBtn"> 수정하기</button>
                    <button th:id="${listStat.index} + 'save_comment'" style="display: none" onclick="commentUpdate()">저장하기 </button>

                    <button th:id="${listStat.index} + 'delete_comment'">삭제하기</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>